@using PopBlog.Mvc
@model PopBlog.Mvc.Models.PostDisplayContainer
@inject IConfig Config
@{
	var recaptchaKey = Config.ReCaptchaSiteKey;
	ViewBag.Title = Model.Post.Title;
	ViewBag.IsDetail = true;
}

@Html.Partial("_Post", Model.Post)

<a name="comments"></a>
<div id="Comments">
	<h2 class="my-5">Comments</h2>
	@foreach (var comment in Model.Comments)
	{
		<div id="@("comment"+comment.CommentID)" class="comment mb-5">
			<h3 class="commentDetails"><a href="@comment.WebSite" target="_blank">@comment.Name</a>, @comment.TimeStamp.ToString("MMMM d, yyyy, h:mm tt") <a name="@(comment.CommentID)" href="#@(comment.CommentID)">#</a> @if (User.Identity.IsAuthenticated)
			{<text> | </text>@comment.IP<text> | </text><a href="mailto:@comment.Email">@comment.Email</a>}</h3>
			<div class="commentText">@Html.Raw(comment.FullText)</div>
			@if (User.Identity.IsAuthenticated)
			{
				<form asp-controller="Admin" asp-action="DeleteComment" asp-route-id="@comment.CommentID">
					<p><input type="submit" value="Delete" class="btn btn-primary" /></p>
					<input type="hidden" id="PostID" name="PostID" value="@comment.PostID" />
				</form>
			}
		</div>
	}
</div>
@if (Model.Post.IsClosed)
{
	<p>Comments are closed.</p>
}
else
{
	<hr class="mb-5"/>
	<div id="CommentForm">
		<form id="ValidateCommentForm" asp-controller="Post" asp-action="AddComment">
			<h3>Post your comment:</h3>
			<input type="hidden" id="PostID" name="PostID" value="@Model.Post.PostID" />
			@if (!User.Identity.IsAuthenticated)
			{
				<div class="form-group">
					<label for="Name">Name</label>
					<input id="Name" name="Name" class="form-control" />
				</div>
				<div class="form-group">
					<label for="Email">Email (will not be displayed)</label>
					<input id="Email" name="Email" class="form-control" type="email" />
				</div>
				<div class="form-group">
					<label for="WebSite">Web site (optional)</label>
					<input id="WebSite" name="WebSite" class="form-control" type="url" />
				</div>
			}
			<div class="form-group">
				<label for="FullText"></label>
				<textarea id="FullText" name="FullText" rows="10" class="form-control"></textarea>
			</div>
			<button id="SendCommentButton" type="submit" class="btn btn-primary">Send comment</button>
			<span id="ResponseLabel" class="warning"></span>
			<input type="hidden" name="Token" id="Token" />
		</form>
	</div>
}

@if (!User.Identity.IsAuthenticated)
{
	<script src="https://www.google.com/recaptcha/api.js?render=@recaptchaKey"></script>
	<script>
		grecaptcha.ready(function() {
			grecaptcha.execute("@recaptchaKey", { action: "comment" }).then(function (token) {
				$("#Token").val(token);
			});
		});
	</script>
}